<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>MITM.com</display-name>
  <welcome-file-list>
    <welcome-file>loginPage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>login.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCourse</servlet-name>
    <servlet-class>course.AddCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourse</servlet-name>
    <url-pattern>/AddCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCourses</display-name>
    <servlet-name>ViewCourses</servlet-name>
    <servlet-class>course.ViewCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCourses</servlet-name>
    <url-pattern>/ViewCourses</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>EditCourse</display-name>
    <servlet-name>EditCourse</servlet-name>
    <servlet-class>course.EditCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCourse</servlet-name>
    <url-pattern>/EditCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateCourse</display-name>
    <servlet-name>UpdateCourse</servlet-name>
    <servlet-class>course.UpdateCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCourse</servlet-name>
    <url-pattern>/UpdateCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeleteCourse</display-name>
    <servlet-name>DeleteCourse</servlet-name>
    <servlet-class>course.DeleteCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourse</servlet-name>
    <url-pattern>/DeleteCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>student.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewStudents</display-name>
    <servlet-name>ViewStudents</servlet-name>
    <servlet-class>student.ViewStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStudents</servlet-name>
    <url-pattern>/ViewStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>EditStudent</display-name>
    <servlet-name>EditStudent</servlet-name>
    <servlet-class>student.EditStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudent</servlet-name>
    <url-pattern>/EditStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateStudent</display-name>
    <servlet-name>UpdateStudent</servlet-name>
    <servlet-class>student.UpdateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudent</servlet-name>
    <url-pattern>/UpdateStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudent</display-name>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>student.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/DeleteStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddSubject</display-name>
    <servlet-name>AddSubject</servlet-name>
    <servlet-class>subject.AddSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubject</servlet-name>
    <url-pattern>/AddSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddSubjectPage</servlet-name>
    <servlet-class>subject.AddSubjectPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubjectPage</servlet-name>
    <url-pattern>/AddSubjectPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSubjects</display-name>
    <servlet-name>ViewSubjects</servlet-name>
    <servlet-class>subject.ViewSubjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSubjects</servlet-name>
    <url-pattern>/ViewSubjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>EditSubject</display-name>
    <servlet-name>EditSubject</servlet-name>
    <servlet-class>subject.EditSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSubject</servlet-name>
    <url-pattern>/EditSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateSubject</display-name>
    <servlet-name>UpdateSubject</servlet-name>
    <servlet-class>subject.UpdateSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSubject</servlet-name>
    <url-pattern>/UpdateSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeleteSubject</display-name>
    <servlet-name>DeleteSubject</servlet-name>
    <servlet-class>subject.DeleteSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSubject</servlet-name>
    <url-pattern>/DeleteSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>user.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUsers</display-name>
    <servlet-name>ViewUsers</servlet-name>
    <servlet-class>user.ViewUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUsers</servlet-name>
    <url-pattern>/ViewUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>user.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>EditUser</display-name>
    <servlet-name>EditUser</servlet-name>
    <servlet-class>user.EditUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUser</servlet-name>
    <url-pattern>/EditUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>user.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentPage</display-name>
    <servlet-name>AddStudentPage</servlet-name>
    <servlet-class>student.AddStudentPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentPage</servlet-name>
    <url-pattern>/AddStudentPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCourse</display-name>
    <servlet-name>SelectCourse</servlet-name>
    <servlet-class>student.SelectCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCourse</servlet-name>
    <url-pattern>/SelectCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfterViewStudent</display-name>
    <servlet-name>AfterViewStudent</servlet-name>
    <servlet-class>after.AfterViewStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfterViewStudent</servlet-name>
    <url-pattern>/AfterViewStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfterViewSubject</display-name>
    <servlet-name>AfterViewSubject</servlet-name>
    <servlet-class>after.AfterViewSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfterViewSubject</servlet-name>
    <url-pattern>/AfterViewSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfterViewUser</display-name>
    <servlet-name>AfterViewUser</servlet-name>
    <servlet-class>after.AfterViewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfterViewUser</servlet-name>
    <url-pattern>/AfterViewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectSubjectToAddAttendance</display-name>
    <servlet-name>SelectSubjectToAddAttendance</servlet-name>
    <servlet-class>attendance.user.SelectSubjectToAddAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectSubjectToAddAttendance</servlet-name>
    <url-pattern>/SelectSubjectToAddAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTheoryAttendancePage</display-name>
    <servlet-name>AddTheoryAttendancePage</servlet-name>
    <servlet-class>attendance.user.AddTheoryAttendancePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTheoryAttendancePage</servlet-name>
    <url-pattern>/AddTheoryAttendancePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAttendance</display-name>
    <servlet-name>AddAttendance</servlet-name>
    <servlet-class>attendance.user.AddAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAttendance</servlet-name>
    <url-pattern>/AddAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>login.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAttendanceBySubject</display-name>
    <servlet-name>ViewAttendanceBySubject</servlet-name>
    <servlet-class>attendance.user.ViewAttendanceBySubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAttendanceBySubject</servlet-name>
    <url-pattern>/ViewAttendanceBySubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectSubjectAndDateToViewAttendance</display-name>
    <servlet-name>SelectSubjectAndDateToViewAttendance</servlet-name>
    <servlet-class>attendance.user.SelectSubjectAndDateToViewAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectSubjectAndDateToViewAttendance</servlet-name>
    <url-pattern>/SelectSubjectAndDateToViewAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTotalAttendance</display-name>
    <servlet-name>ViewTotalAttendance</servlet-name>
    <servlet-class>attendance.admin.ViewTotalAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTotalAttendance</servlet-name>
    <url-pattern>/ViewTotalAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCourseToViewAttendance</display-name>
    <servlet-name>SelectCourseToViewAttendance</servlet-name>
    <servlet-class>attendance.admin.SelectCourseToViewAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCourseToViewAttendance</servlet-name>
    <url-pattern>/SelectCourseToViewAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllSubjectAttendance</display-name>
    <servlet-name>ViewAllSubjectAttendance</servlet-name>
    <servlet-class>attendance.admin.ViewAllSubjectAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllSubjectAttendance</servlet-name>
    <url-pattern>/ViewAllSubjectAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectSubjectToViewAttendance</display-name>
    <servlet-name>SelectSubjectToViewAttendance</servlet-name>
    <servlet-class>attendance.admin.SelectSubjectToViewAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectSubjectToViewAttendance</servlet-name>
    <url-pattern>/SelectSubjectToViewAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignOut</display-name>
    <servlet-name>SignOut</servlet-name>
    <servlet-class>login.SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOut</servlet-name>
    <url-pattern>/SignOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCourseToAddSubject</display-name>
    <servlet-name>SelectCourseToAddSubject</servlet-name>
    <servlet-class>subject.SelectCourseToAddSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCourseToAddSubject</servlet-name>
    <url-pattern>/SelectCourseToAddSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAttendance</display-name>
    <servlet-name>DeleteAttendance</servlet-name>
    <servlet-class>attendance.admin.DeleteAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAttendance</servlet-name>
    <url-pattern>/DeleteAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectSubjectDateAndTimeToDelete</display-name>
    <servlet-name>SelectSubjectDateAndTimeToDelete</servlet-name>
    <servlet-class>attendance.admin.SelectSubjectDateAndTimeToDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectSubjectDateAndTimeToDelete</servlet-name>
    <url-pattern>/SelectSubjectDateAndTimeToDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTotalAttendanceByAdmin</display-name>
    <servlet-name>ViewTotalAttendanceByAdmin</servlet-name>
    <servlet-class>attendance.admin.ViewTotalAttendanceByAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTotalAttendanceByAdmin</servlet-name>
    <url-pattern>/ViewTotalAttendanceByAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAttendanceByDate</display-name>
    <servlet-name>ViewAttendanceByDate</servlet-name>
    <servlet-class>attendance.admin.ViewAttendanceByDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAttendanceByDate</servlet-name>
    <url-pattern>/ViewAttendanceByDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectDateToViewAttendance</display-name>
    <servlet-name>SelectDateToViewAttendance</servlet-name>
    <servlet-class>attendance.admin.SelectDateToViewAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDateToViewAttendance</servlet-name>
    <url-pattern>/SelectDateToViewAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateGroupPage</display-name>
    <servlet-name>CreateGroupPage</servlet-name>
    <servlet-class>attendance.admin.CreateGroupPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGroupPage</servlet-name>
    <url-pattern>/CreateGroupPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateGroup</display-name>
    <servlet-name>CreateGroup</servlet-name>
    <servlet-class>attendance.admin.CreateGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGroup</servlet-name>
    <url-pattern>/CreateGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckSubjectType</display-name>
    <servlet-name>CheckSubjectType</servlet-name>
    <servlet-class>attendance.user.CheckSubjectType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckSubjectType</servlet-name>
    <url-pattern>/CheckSubjectType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPracticalAttendancePage</display-name>
    <servlet-name>AddPracticalAttendancePage</servlet-name>
    <servlet-class>attendance.user.AddPracticalAttendancePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPracticalAttendancePage</servlet-name>
    <url-pattern>/AddPracticalAttendancePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckAttendanceTypePage</display-name>
    <servlet-name>CheckAttendanceTypePage</servlet-name>
    <servlet-class>attendance.user.CheckAttendanceTypePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAttendanceTypePage</servlet-name>
    <url-pattern>/CheckAttendanceTypePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectGroup</display-name>
    <servlet-name>SelectGroup</servlet-name>
    <servlet-class>attendance.user.SelectGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectGroup</servlet-name>
    <url-pattern>/SelectGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAttendanceBySubjectBetweenDates</display-name>
    <servlet-name>ViewAttendanceBySubjectBetweenDates</servlet-name>
    <servlet-class>attendance.admin.ViewAttendanceBySubjectBetweenDates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAttendanceBySubjectBetweenDates</servlet-name>
    <url-pattern>/ViewAttendanceBySubjectBetweenDates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewStudentTotalAttendance</display-name>
    <servlet-name>ViewStudentTotalAttendance</servlet-name>
    <servlet-class>accessibleToEveryOne.ViewStudentTotalAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStudentTotalAttendance</servlet-name>
    <url-pattern>/ViewStudentTotalAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSubjectAttendanceOfStudent</display-name>
    <servlet-name>ViewSubjectAttendanceOfStudent</servlet-name>
    <servlet-class>accessibleToEveryOne.ViewSubjectAttendanceOfStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSubjectAttendanceOfStudent</servlet-name>
    <url-pattern>/ViewSubjectAttendanceOfStudent</url-pattern>
  </servlet-mapping>
</web-app>